aio-pika==9.3.1
aiormq==6.7.7
annotated-types==0.6.0
anyio==3.7.1
fastapi==0.104.1
idna==3.4
multidict==6.0.4
pamqp==3.2.1
pydantic==2.5.2
pydantic_core==2.14.5
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.8.0
yarl==1.9.3
